@import '../../styles/controls.module.css';
@value margin, mobile from '../../styles/measurements.module.css';
@value verylightgrey from '../../styles/colors.module.css';

.subTitle {
  margin-bottom: calc(margin / 2);
}

.email-field {
  height: 50px;
  max-width: 350px;
  width: calc(100% - 125px - margin / 2);
  margin-right: calc(margin / 2);
  padding: calc(margin / 2);
  font-family: inherit;
  border: 1px solid verylightgrey;
}

.sub-btn {
  @extend %btn-primary;
}
