@value lightgrey from '../styles/colors.module.css';
@value margin, mobile from '../styles/measurements.module.css';

.author {
  font-size: 1em;
}

.date {
  color: lightgrey;
  font-size: 1em;
}

.thumbnail {
  margin: margin 0;
  width: 100%;

  @media (min-width: 600px) {
    float: right;
    margin: 0 0 margin margin;
    max-width: 350px;
  }
}
