@value dsared, verylightgrey from './colors.module.css';
@value margin, radius from './measurements.module.css';

%btn {
  min-width: 125px;
  height: 50px;
  padding: calc(margin / 2) margin;
  font-weight: 700;
  outline: none;
  cursor: pointer;
  border-radius: radius;
  transition: box-shadow 0.2s ease-in-out;

  &:hover {
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
  }
}

%btn-primary {
  @extend %btn;
  color: white;
  background: dsared;
  border: none;
}

%btn-secondary {
  @extend %btn;
  color: dsared;
  background: white;
  border: 3px solid dsared;
}

%btn-text {
  background: none;
  border: none;
  padding: 0;
  color: dsared;
  text-decoration: underline;
  cursor: pointer;
}
