@import './controls.module.css';
@value margin, radius from './measurements.module.css';

.checkoutBtn {
  @extend %btn-primary;
}

.dues {
  position: relative;

  ul {
    list-style-type: none;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    li {
      margin: 0 margin margin margin;
    }
  }

  &.checkoutLoadingState {
    button {
      opacity: 0.1;
    }
  }
}

.freeDuesBtn {
  @extend %btn-text;
  font-style: italic;
}

.spinner {
  position: absolute;
  left: 0;
  top: 25%;
}

.manageForm {
  display: flex;
  height: 50px;
  width: 500px;
}

.manageInput {
  flex-grow: 1;
  padding: margin;
  border: 1px solid black;
  border-radius: radius 0 0 radius;
}

.manageBtn {
  @extend %btn-primary;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;

  &.manageLoadingState {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

