@value margin, mobile, contentWell from '../../styles/measurements.module.css';

.wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.content {
  flex: 1;
  max-width: contentWell;
  width: 100%;
  padding: 0 margin;
  margin: 0 auto;

  @media (max-width: mobile) {
    padding: 0 calc(margin / 2);
  }
}
