@value margin, mobile from '../../styles/measurements.module.css';

.content {
  max-width: 960px;
  width: 100%;
  padding: 0 margin;
  margin: 0 auto;

  @media (max-width: mobile) {
    padding: 0 calc(margin / 2);
  }
}
