@value lightgrey, verylightgrey, dsared from '../styles/colors.module.css';
@value mobile, margin from '../styles/measurements.module.css';

.list {
  list-style-type: none;
  margin-left: 0;

  li {
    padding: margin 0;
    border-bottom: 2px solid verylightgrey;

    &:first-of-type {
      border-top: 2px solid verylightgrey;
    }
  }
}

.headline a {
  color: dsared;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.date {
  color: lightgrey;
  font-size: 1em;
}



.content {
  display: flex;

  .excerpt {
    color: black;
  }

  .thumbnail {
    margin-left: margin;
    max-width: 350px;
    width: 100%;
  }

  @media (max-width: mobile) {
    flex-direction: column-reverse;

    .thumbnail {
      margin: 0 0 margin 0;
    }
  }
}
