@value dsared from '../../styles/colors.module.css';
@value mobile, margin, maxz from '../../styles/measurements.module.css';

.header {
  margin-bottom: calc(margin * 2);
  padding: 0 margin;
  background: dsared;
  display: flex;
  width: 100%;
  align-items: center;
  height: 65px;
}

.title {
  margin: 0;
  font-size: 1.4rem;
  flex-grow: 1;
  font-family: 'Manifold DSA';
  font-weight: 700;
}

.logo-div {
  height: 50px;
  width: 50px;
  margin: 0;
  margin-right: margin;
}

.title-link,
.navbar-link {
  color: white;
  text-decoration: none;
}

.navbar-link {
  text-align: right;

  &:hover {
    text-decoration: underline;
  }
}

.hotlink {
  padding: margin;
  margin: 0;
  font-size: 1.1rem;
  font-family: 'Manifold DSA';
  font-weight: 700;
  text-align: right;

  &:last-of-type {
    padding-right: 0;
  }
}

.hotlinks {
  cursor: pointer;
  color: white;
  list-style-type: none;
  display: flex;
  align-items: center;
  margin: 0;

  @media (max-width: mobile) {
    display: none;
  }

  &.mobile-hotlinks {
    min-width: 200px;
    display: block;
    padding: margin;
    position: absolute;
    background-color: dsared;
    right: margin;
    margin: 0;
    top: 75px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    clip-path: inset(0 -10px -10px -10px);
    z-index: maxz;

    .hotlink {
      padding: calc(margin / 2) 0;
    }

    >.hotlink:not(.hides-nested-items) {
      border-top: 1px solid white;
      
      &:last-of-type {
        border-bottom: 1px solid white;
      }
    }

    .coldlink {
      display: block;
      cursor: default;
      font-size: 0.8rem;
      width: 100%;
      border-bottom: 1px solid white;
    }
  }
}

.hides-nested-items {
  display: block;

  * {
    padding: 0;
  }

  span:hover {
    text-decoration: none
  }

  .nested-nav-items {
    margin: 0;
    list-style-type: none;

    .hotlink {
      padding: calc(margin / 2) 0;
    }
  }
}

@media (min-width: mobile) {
  .hotlink, .hotlinks {
    height: 100%;
  }

  .hides-nested-items {
    ul.nested-nav-items {
      display: none;
    }

    &:hover {
      ul.nested-nav-items {
        display: block;
      }
    }

    .nested-nav-items {
      padding: 0 margin margin margin;
      position: absolute;
      top: 65px;
      margin: 0 0 0 calc(-1 * margin);
      background-color: dsared;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
      clip-path: inset(0 -10px -10px -10px);
      z-index: maxz;

      .hotlink {
        text-align: left;
      }
    }
  }
}

.mobile-burger {
  background: none;
  border: none;
  box-shadow: none;
  z-index: maxz;
  display: none;
  width: 45px;
  height: 45px;
  padding: 10px 5px;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  @media (max-width: mobile) {
    display: block;
  }

  .burger-lines {
    width: 35px;
    height: 3px;
    display: block;
    position: relative;
    background-color: white;
    top: 0;
    right: 0;
    opacity: 1;
    user-select: none;
    transition: all 0.25s ease;

    &::before {
      content: '\00A0';
      height: 3px;
      display: block;
      position: relative;
      background-color: white;
      user-select: none;
      transition: all 0.25s ease;
      top: -9px;
    }

    &::after {
      content: '\00A0';
      height: 3px;
      display: block;
      position: relative;
      background-color: white;
      user-select: none;
      transition: all 0.25s ease;
      top: 6px;
    }

    &.active {
      background: transparent;

      &::before {
        transform: rotate3d(0, 0, 1, -45deg);
        background-color: white;
        top: 3px;
      }

      &::after {
        transform: rotate3d(0, 0, 1, 45deg);
        background-color: white;
        top: 0;
      }
    }
  }
}
